<strong>Olá, {{name}}</strong>
<br />
<p>Detalhes:</p>
<p>
   <strong>Type: </strong> {{type}} <br /> <br />
    <strong>Plant tour realizado por: </strong> {{autor}} <br /> <br />
    <strong>Problema: </strong> {{problema}} <br /> <br />
    <strong>Acão: </strong> {{acao}} <br /> <br />
    <strong>Dias atrasado: </strong> {{atraso}} <br /> <br />
    <strong>Link: </strong> <a href="\\BR-MOG-SR-FS01\sogefi$\PRODUCAO\@OUTROS\4 - DAILY PLANT TOUR\Plano de Ação Daily Plant Tour.xlsx">Clique aqui</a>
</p>